<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="justify-between">
  <img src="/logos/logo.png" alt="Logo de Valdepom'">
  <img src="/logos/espace.png" alt="">
  <a href="https://ville-valdeblore.fr/"><img src="/logos/blason-valdeblore.png" alt="Blason de Valdeblore"></a>
  <img src="/logos/espace.png" alt="">
  <a href="https://www.departement06.fr/patrimoine-par-commune/valdeblore-2338.html"><img src="/logos/logo_cg06.png" alt="Logo du Conseil Départemental des Alpes Maritimes"></a>
  <img src="/logos/espace.png" alt="">
  <a href="https://www.maregionsud.fr/"><img src="/logos/logo_region_sud64.png" alt="Logo de la Région Sud"></a>
  <img src="/logos/espace.png" alt="">
  <a href="https://cerpam.com/"><img src="/logos/logo_cerpam64.png" alt="logo du centre d'études et de réalisation pastorales alpes-méditerranée"></a>
  <img src="/logos/espace.png" alt="">
  <a href="http://www.mercantour-parcnational.fr/fr"><img src="/logos/logo_mercantour64.png" alt="logo du parc national du mercantour"></a>
  <img src="/logos/espace.png" alt="">
  <a href="https://www.credit-agricole.fr/particulier/agence/provence-cote-d-azur/saint-martin-vesubie-4458.html"><img src="/logos/logo_creditagricole.png" alt="logo du crédit agricole"></a>
  </div>
  <div>
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  <a href="/{{ i18n `legalSlug` }}">{{ i18n "legalNotice" }}</a>
  </div>
</footer>
